#wrapper {
    width:800px;
    margin: 0 auto 0 auto;
    border: 1px solid #777;
    background-image:url('https://drive.google.com/uc?id=0BwINOJ8hKYKQdGJNOEJva0c0bEk');
    font-size: 16px;
    font-family: Tahoma;
}



header.page {
    margin:10px;
    padding: 10px;
    border:1px solid #000;
    text-align:center;
    background-color: rgb(253,241,103);
}



article {
    margin:10px;
    padding: 10px;
    border:1px solid #000;
    text-align:center;
    background-color: rgb(240,172,86);
}



nav li {
    display:inline;
    padding:0;
    margin:0;
    padding-right:20px;
}


a:link {
    color:rgb(0,0,0);
}

a:visited {
    color:rgb(0,0,0);
    text-decoration:none;
}

a:hover {
    color:rgb(170,182,191);
}

a:active {
    color: rgb(170,182,191);
}



aside li {
    list-style: disc url('https://drive.google.com/uc?id=0B6Sg_ALpI1HFVDBlVEdsenV3ZHc');
}
footer {
    clear:left;
    border:1px solid #000;
    margin:10px;
    padding:10px;
    background-color: rgb(222,89,89);
}




@media screen and (max-width: 960px) {
	
	#wrapper {
		width: 94%;
	}
	article {
		width: 94%;
	}
	aside {
		width: 28%;
	}

}

/* for 700px or less */
@media screen and (max-width: 700px) {

	article {
		width: auto;
		float: auto;
	}
    
	aside {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header.page {
		height: auto;
	}
	h1 {
		font-size: 24px;
	}
	aside {
		display: none;
	}

}


